VITE_AFFORDMED_BASE_URL=http://4.224.186.213/evaluation-service
VITE_AFFORDMED_EMAIL=
VITE_AFFORDMED_NAME=
VITE_AFFORDMED_ROLL_NO=
VITE_AFFORDMED_ACCESS_CODE=
VITE_AFFORDMED_CLIENT_ID=
VITE_AFFORDMED_CLIENT_SECRET=
